name: country_to_timezone
description: "Converts a ISO 3166-1 alpha-2 code to a timezone. (e.g. 'DE' to 'Europe/Berlin')"
version: 0.1.2
repository: https://github.com/ahmdt/country_to_timezone


environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  collection: ^1.19.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
